{% extends "base.html" %}

{% block meta %}
{# Dublin Core metadata for this article #}
{% with div as dc_fields %}{% include 'dc_meta.html' %}{% endwith %}
{% endblock %}

{% block title %}Browse - Article{% endblock %}

{% block content %}

{% if div %}
  {{ body|safe }}
{% else %}
  <p>No div</p>
{% endif %}

<div class="content">
  <table width="100%">
  <tr><th>Previous: </th><td><a href={% url "article_display" div.prevdiv_id %}>{{div.prevdiv_title}}</a></td><td>{{div.prevdiv_type}}</td><td
  valign="top"><font size="-1">{{div.prevdiv_vol}},
  {{div.prevdiv_issue}}, {{div.prevdiv_pages}} ({{div.prevdiv_extent}})</font></td></tr>
  <tr><th>Next: </th><td><a href={% url "article_display" div.nextdiv_id %}>{{div.nextdiv_title}}</a></td><td>{{div.nextdiv_type}}</td><td
  valign="top"><font size="-1">{{div.nextdiv_vol}}, {{div.nextdiv_issue}}, {{div.nextdiv_pages}} ({{div.nextdiv_extent}})</font></td></tr> 
  <tr><th>Article List for: </th><td><a href={% url "volume_display" div.volume_id %}>{{div.volume_title}}</a></td><td/></tr></table>

{% include "search_text.html" %}

</div>


{% endblock %}
