{% extends "base.html" %}

{% block meta %}
{# Dublin Core metadata for this article #}
{% with div as dc_fields %}{% include 'dc_meta.html' %}{% endwith %}
{% endblock %}

{% block title %}Browse - Article{% endblock %}

{% block content %}

{% if div %}
  {{ body|safe }}
{% else %}
  <p>No div</p>
{% endif %}

<div class="content">
  <table width="100%">
  <tr><th>Previous: </th><td><a href={% url "article_display" next.prevdiv_id %}>{{next.prevdiv_title}}</a></td><td>{{next.prevdiv_type}}</td><td
  valign="top"><font size="-1">{{next.prevdiv_vol}},
  {{next.prevdiv_issue}}, {{next.prevdiv_pages}} ({{next.prevdiv_extent}})</font></td></tr>
  <tr><th>Next: </th><td><a href={% url "article_display" next.nextdiv_id %}>{{next.nextdiv_title}}</a></td><td>{{next.nextdiv_type}}</td><td
  valign="top"><font size="-1">{{div.nextdiv_vol}}, {{div.nextdiv_issue}}, {{next.nextdiv_pages}} ({{next.nextdiv_extent}})</font></td></tr> 
  <tr><th>Article List for: </th><td><a href={% url "volume_display" next.volume_id %}>{{next.volume_title}}</a></td><td/></tr></table>

<div class="downloads">
  <p><b><a href={% url "send_file" id %}>Download Article as
  Plain Text</a></b></p>
  </div>
  
{% include "search_text.html" %}

</div>


{% endblock %}
