{% extends "base.html" %}
{% block head-extras %}{% include "content_head.html" %}{% endblock %}

{% block title %}Browse - Illustrations{% endblock %}

{% block content %}

<div class="content">

<h2>Illustrations</h2><?xml version="1.0"?>
<body onload="load_status(304, 'ILN-figure')" onunload="store_status(304, 'ILN-figure')"><noscript><i>Note: This site works best with Javascript enabled.</i><style type="text/css">
	ul.contents { display: block } 
        img.javascript { display: none }
      </style><p>Because you do not have Javascript running, you may prefer to browse <a href="volume.php" rel="alternate">volumes</a> separately.</p></noscript>

<!--Testing the relationship between the figure and article models. -->
<!--Separate queries for volumes and figures-->
{% for figure in figures %}
  {{figure.div_data}}
{% endfor %}
<!--Test silently fails.  Does not return of 'None.')-->

<!--Testing the relationship between the figure and volume models-->
<!--Separate queries for volumes and figures-->
{% for figure in figures %}
  {{figure.vol_id}}
{% endfor %}
<!--Test silently fails.  Does not return of 'None.')-->

  
<!--Rest of template-->  
{% for volume in volumes %}
  <p>{{volume.head}}</a><font size="-1">
      - {{volume.docDate}}
     - ({{volume.figs|length}} Illustrations)</font></p>

  <table>
  {% for figure in figures %}
  {% if figure.vol_id == volume.id %}
  <tr><td class="figure"><img
  src="http://beck.library.emory.edu/iln/image-content/ILN{{key}}.gif"
  alt="view image"
  title="{{fig_name}}"/><b>{{figure.head}}</b><lb><p>{{div_data}}</p>{% endif %}{% endfor %}</td></tr>

</table>
</ul>
 </body>
{% endfor %}

{% include "search_illustrations.html" %} 
  
</div>
  
{% endblock %}